@*
/*------------------------------------------------------------------------------------------------------*/
/* Copyright (C) Panasonic System Networks Malaysia Sdn. Bhd.                                           */
/* Account/ResetPassword.cshtml                                                                         */
/*                                                                                                      */
/* Modify History:							                                                            */
/* 		Date        Comment			                                                Name	            */
/*      ---------------------------------------------------------------------------------------------   */
/*      20/05/2022  Initial version                                                 Azmir               */
/*                                                                                                      */
/*------------------------------------------------------------------------------------------------------*/
*@

@model SPS.Models.ResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <!-- Card size -->
        <div class="col-xl-5 col-lg-5 col-md-5">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="p-5">
                            <div class="text-center">
                                <i class="fas fa-envelope fa-5x"></i>
                                <br />
                                <br />
                                <h1 class="h4 text-gray-900 mb-4">Reset Password</h1>
                            </div>
                            <div class="input-group">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", autofocus = "autofocus", placeholder = "New password", id = "newPassword", autocomplete = "off" })
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                            </div>

                            <div class="input-group">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password", id = "confirmPassword", autocomplete = "off" })
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>

                            <div>
                                <div class="pb-1">
                                    <button type="submit" class="btn btn-primary btn-block" id="btnReset">Reset Password</button>
                                </div>
                                <div class="text-center text-md-left">
                                    @Html.ActionLink("Login", "Login")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>

</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            @{
                if (ViewBag.Message != null){
                    if (ViewBag.Status == true){
                        <text>
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: '@ViewBag.Message',
                                showConfirmButton: true,
                                timer: 10000,
                                timerProgressBar: true,
                            }).then(function (result) {
                                if (true) {
                                    window.location.href = "@Url.Action("Login", "Account")";
                                }
                            })
                        </text>
                    }
                    else{
                        <text>
                            // Redirect to login page after toastr is closed
                            toastr.error(
                                "@ViewBag.Message",
                                "",
                                {
                                    positionClass: "toast-top-right",
                                    showDuration: 300,
                                    hideDuration: 1000,
                                    timeOut: 3000,
                                    onHidden: function () {
                                        window.location.href = "@Url.Action("Login", "Account")";
                                    }
                                }
                            );

                            $("#newPassword").prop("disabled", true);
                            $("#confirmPassword").prop("disabled", true);
                            $("#btnReset").prop("disabled", true);
                        </text>
                    }
                }
            }
        });
    </script>
}