@*
/*------------------------------------------------------------------------------------------------------*/
/* Copyright (C) Panasonic System Networks Malaysia Sdn. Bhd.                                           */
/* Building/Add.cshtml                                                                                  */
/*                                                                                                      */
/* Modify History:							                                                            */
/* 		Date        Comment			                                                Name	            */
/*      ---------------------------------------------------------------------------------------------   */
/*      20/05/2022  Initial version                                                 Azmir               */
/*                                                                                                      */
/*------------------------------------------------------------------------------------------------------*/
*@

@model SPS.Models.BuildingModels
@{
    ViewBag.Title = "Add Building";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@ViewBag.Title</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Record")">Record</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Building")">Building</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- content -->
<section class="content">
    <div class="container-fluid">
        @using (Html.BeginForm("Add", "Building", FormMethod.Post, new { id = "formAddBuilding", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-lg-6">
                    <div class="card shadow mb-4">
                        <div class="card card-primary card-outline">
                            <div class="card-header py-3">
                                <h5 class="m-0 card-title font-weight-bold text-dark">Building Information</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.BuildingName)
                                    @Html.TextBoxFor(m => m.BuildingName, new { @class = "form-control uppercase", autofocus = "autofocus", id = "txtAddBuilding", placeholder = "Please enter building name" })
                                    @Html.ValidationMessageFor(m => m.BuildingName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="card-footer">
                                @Html.ActionLink("Back", "Index", "Building", new { }, new { @class = "btn btn-primary btn-sm" })
                                <button type="submit" class="btn btn-success btn-sm float-right" id="btnAddBuilding">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            // Change to input upper case
            $('.uppercase').blur(function () {
                $(this).val($(this).val().toUpperCase());
            });

            // Add confirmation
            $("#btnAddBuilding").click(function (e) {
                e.preventDefault();
                e.stopPropagation();

                var form = $("#formAddBuilding");
                if (form.valid()) {
                    swal.fire({
                        icon: 'question',
                        title: 'Are you sure?',
                        text: 'Confirm to add building?',
                        showCancelButton: true,
                        confirmButtonText:
                            '<i class="fas fa-plus-square"></i> Add',
                        cancelButtonText:
                            '<i class="fas fa-window-close"></i> Cancel',
                    }).then(function (result) {
                        if (result.isConfirmed) {
                            form.submit();
                        }
                    })
                }
            });

            @{
                if (ViewBag.Message != null){
                    // Show success msg
                    if (ViewBag.Status == true){
                        <text>
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: '@ViewBag.Message',
                                showConfirmButton: true,
                                timer: 2000,
                                timerProgressBar: true,
                            }).then(function () {
                                if (true) {
                                    window.location.href = "@Url.Action("Index", "Building")";
                                }
                            })
                        </text>
                    }
                    // Show error msg
                    else{
                        <text>
                            toastr.error(
                                "@ViewBag.Message",
                                "",
                                {
                                    positionClass: "toast-top-right",
                                    showDuration: 300,
                                    hideDuration: 1000,
                                    timeOut: 3000,
                                }
                            );
                        </text>
                    }

                    // Set to clear and focus element
                    <text>
                        $('#txtAddBuilding').attr("value", "");
                        $('#txtAddBuilding').focus();
                    </text>
                }
            }

        });
    </script>
}
