@*
/*------------------------------------------------------------------------------------------------------*/
/* Copyright (C) Panasonic System Networks Malaysia Sdn. Bhd.                                           */
/* Building/Index.cshtml                                                                                */
/*                                                                                                      */
/* Modify History:							                                                            */
/* 		Date        Comment			                                                Name	            */
/*      ---------------------------------------------------------------------------------------------   */
/*      20/05/2022  Initial version                                                 Azmir               */
/*                                                                                                      */
/*------------------------------------------------------------------------------------------------------*/
*@

@model IEnumerable<SPS.Models.BuildingModels>
@{
    ViewBag.Title = "Building";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@ViewBag.Title</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Record")">Record</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card shadow mb-4">
                    <div class="card card-primary card-outline ">
                        <div class="m-0 card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h5 class="m-0 font-weight-bold text-dark">Building List</h5>
                            @Html.ActionLink("Add Building", "Add", "Building", new { }, new { @class = "btn btn-success btn-sm ml-auto" })
                        </div>
                        <div class="card-body">
                            <table id="tblBuilding" class="table table-bordered table-hover text-sm align-center vertical-align">
                                <thead>
                                    <tr>
                                        <th style="width: 25px">No.</th>
                                        <th>Building Name</th>
                                        <th style="width: 90px;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var m in Model)
                                        {
                                            <tr>
                                                <td></td>
                                                <td style="text-align: left;">@m.BuildingName</td>
                                                <td>
                                                    <div class="btn-group btn-group-sm">
                                                        <a href="@Url.Action("Detail", "Building", new { id = m.BuildingId })" class="btn btn-primary" data-toggle="tooltip" title="Detail"><i class="fa fa-info-circle"></i></a>
                                                        <a href="@Url.Action("Edit", "Building", new { id = m.BuildingId })" class="btn btn-info" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a>
                                                        <a href="#" onclick="DeleteBuilding('@m.BuildingId')" class="btn btn-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-alt"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Styles{
    @Styles.Render("~/content/datatable/css")
}

@section Scripts{
    @Scripts.Render("~/bundles/datatable/script")

    <script>
        $(document).ready(function () {

            // Show tooltips
            $("body").tooltip({ selector: '[data-toggle=tooltip]' });

            // Display responsive datatable
            var table = $('#tblBuilding').DataTable({
                "autoWidth": false,
                "responsive": true,
                "pageLength": 100,
                "lengthMenu": [[5, 10, 25, 50, 100], [5, 10, 25, 50, 100]],
                "columnDefs": [{
                    "searchable": false,    // disable search
                    "orderable": false,     // disable sort
                    "targets": 0            // first column index 'no'
                }],
                "order": [[1, 'asc']],      // sort column[1] by ascending order
            });

            // Insert row number for each data
            table.on('order.dt search.dt', function () {
                table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

            @if (TempData["ErrMsg"] != null){
                <text>
                    toastr.error(
                        "@TempData["ErrMsg"]",
                        "",
                        {
                            positionClass: "toast-top-right",
                            showDuration: 300,
                            hideDuration: 1000,
                            timeOut: 3000,
                        }
                    );
                </text>
            }
        })

        // Function delete
        function DeleteBuilding(id) {
            $.getJSON("@Url.Action("GetRackByBuildingId", "Building")", { iBuildingId: id }, function (data) {
                if (data == null) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Please contact admin.',
                        showConfirmButton: true,
                    })
                };

                if (data == 0) {
                    swal.fire({
                        icon: 'warning',
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        showCancelButton: true,
                        confirmButtonText:
                            '<i class="fa fa-trash-alt"></i> Delete',
                        confirmButtonColor: '#d33',
                        cancelButtonText:
                            '<i class="fas fa-window-close"></i> Cancel',
                    }).then(function (result) {
                        if (result.isConfirmed) {
                            Delete();
                        }
                    })
                };

                if (data.length > 0) {
                    swal.fire({
                        icon: 'warning',
                        title: 'Building is in used!',
                        text: "Are you sure you want to delete?",
                        showCancelButton: true,
                        confirmButtonText:
                            '<i class="fa fa-trash-alt"></i> Delete',
                        confirmButtonColor: '#d33',
                        cancelButtonText:
                            '<i class="fas fa-window-close"></i> Cancel',
                    }).then(function (result) {
                        if (result.isConfirmed) {
                            Delete();
                        }
                    })
                };

            }).fail(function () {
                Swal.fire({
                    icon: 'warning',
                    //title: 'Something went wrong!',
                    text: 'Failed to check used building in rack.',
                    showConfirmButton: true,
                })
            });

            function Delete() {
                $.ajax({
                    url: "@Url.Action("Delete", "Building")",
                    data: { 'id': id },
                    type: "POST",
                    success: (function (data) {
                        if (data == '1') {
                            Swal.fire({
                                icon: 'success',
                                title: 'Deleted!',
                                text: 'Building has been deleted successfully.',
                                showConfirmButton: true,
                            }).then(function () {
                                if (true) {
                                    window.location.href = "@Url.Action("Index", "Building")";
                                }
                            })
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Failed to delete building.',
                                showConfirmButton: true,
                            })
                        }
                    }),
                    error: (function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Please contact admin.',
                            showConfirmButton: true,
                        })
                    })
                });
            }
        }
    </script>
}
